<header class="header">
  <div class="container header-container">
    <a class="logo header-logo" href="./index.html">watchcharm</a>

    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current-header" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sale">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div>
      <ul class="mobile-social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <span class="social-icon-cover">
              <svg class="social-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <span class="social-icon-cover">
              <svg class="social-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <span class="social-icon-cover">
              <svg class="social-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <button
      class="mobile-menu-button js-open-menu"
      type="button"
      aria-label="Open menu"
    >
      <svg class="mobile-menu-icon">
        <use href="/img/sprite.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
</header>
