<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="title">Reviews</h2>
    <ul class="list-reviews">
      <li class="reviews-item john-item">
        <picture>
          <source srcset="/img/john.webp 1x, /img/john@2x.webp 2x" media="(min-width:320px)" type="image/webp">
          <source srcset="/img/john.png 1x, /img/john@2x.png 2x" media="(min-width:320px)" type="image/png">
          <img class="reviews-foto" src="/img/john.png" alt="Foto of John Wax" width="56" height="56" />
        </picture>
        <h3 class="reviews-name">John Wax</h3>
        <p class="reviews-role">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item victoria-item">
        <picture>
          <source srcset="/img/victoria.webp 1x, /img/victoria@2x.webp 2x" media="(min-width:320px)" type="image/webp">
          <source srcset="/img/victoria.png 1x, /img/victoria@2x.png 2x" media="(min-width:320px)" type="image/png">
          <img class="reviews-foto" src="/img/victoria.png" alt="Foto of Victoria Romashenko" width="56" height="56" />
        </picture>
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-role">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item anastasia-item">
        <picture>
          <source srcset="/img/anastasia.webp 1x, /img/anastasia@2x.webp 2x" media="(min-width:320px)"
            type="image/webp">
          <source srcset="/img/anastasia.png 1x, /img/anastasia@2x.png 2x" media="(min-width:320px)" type="image/png">
          <img class="reviews-foto" src="/img/anastasia.png" alt="Foto of Anastasia Trachuk" width="56" height="56" />
        </picture>
        <h3 class="reviews-name">Anastasia Trachuk</h3>
        <p class="reviews-role">
          Anastasia Trachuk My watch from is a real masterpiece. Every detail
          impresses with the high quality of execution. Special features like
          [specify features] make it an indispensable companion in my daily
          life.
        </p>
      </li>
    </ul>
  </div>
</section>