<section class="sale" id="sale">
  <div class="container">
    <h2 class="section-sale-title">Sale</h2>

    <div class="section-sale-wrapper">
      <div class="section-sale-imgs-wrapp">
        <ul class="section-sale-watch-list">
          <li class="section-sale-item">
            <picture>
              <source
                srcset="/img/watch-sale1.webp 1x, /img/watch-sale1@2.webp 2x"
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="/img/watch-sale1.png 1x, /img/watch-sale1@2.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />

              <source
                srcset="
                  /img/watch-sale1-mob.webp   1x,
                  /img/watch-sale1-mob@2.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/watch-sale1-mob.png   1x,
                  /img/watch-sale1-mob@2.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <img
                src="/img/watch-sale1.png"
                alt="Image Watch Front"
                width="96"
              />
            </picture>
          </li>
          <li class="section-sale-item">
            <picture>
              <source
                srcset="/img/watch-sale2.webp 1x, /img/watch-sale2@2.webp 2x"
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="/img/watch-sale2.png 1x, /img/watch-sale2@2.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />

              <source
                srcset="
                  /img/watch-sale2-mob.webp   1x,
                  /img/watch-sale2-mob@2.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/watch-sale2-mob.png   1x,
                  /img/watch-sale2-mob@2.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <img
                src="/img/watch-sale2.png"
                alt="Image Watch Front"
                width="96"
              />
            </picture>
          </li>
          <li class="section-sale-item">
            <picture>
              <source
                srcset="/img/watch-sale3.webp 1x, /img/watch-sale3@2.webp 2x"
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="/img/watch-sale3.png 1x, /img/watch-sale3@2.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />

              <source
                srcset="
                  /img/watch-sale3-mob.webp   1x,
                  /img/watch-sale3-mob@2.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/watch-sale3-mob.png   1x,
                  /img/watch-sale3-mob@2.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <img
                src="/img/watch-sale3.png"
                alt="Image Watch Side View"
                width="96"
              />
            </picture>
          </li>
          <li class="section-sale-item">
            <picture>
              <source
                srcset="/img/watch-sale4.webp 1x, /img/watch-sale4@2.webp 2x"
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="/img/watch-sale4.png 1x, /img/watch-sale4@2.png 2x"
                media="(min-width: 768px)"
                type="image/png"
              />

              <source
                srcset="
                  /img/watch-sale4-mob.webp   1x,
                  /img/watch-sale4-mob@2.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/watch-sale4-mob.png   1x,
                  /img/watch-sale4-mob@2.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <img
                src="/img/watch-sale4.png"
                alt="Image Watch Back Side"
                width="96"
              />
            </picture>
          </li>
        </ul>

        <div class="main-watch-sale">
          <picture>
            <source
              srcset="/img/watch-sale5.webp 1x, /img/watch-sale5@2.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="/img/watch-sale5.png 1x, /img/watch-sale5@2.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                /img/watch-sale5-mob.webp   1x,
                /img/watch-sale5-mob@2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/watch-sale5-mob.png   1x,
                /img/watch-sale5-mob@2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <img
              src="/img/watch-sale5.png"
              alt="Image Watch Garmin Marq"
              width="328"
            />
          </picture>
        </div>
      </div>

      <div class="watch-description-block">
        <h3 class="watch-description-subtitle">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="watch-description-product_tag">Product tag: 706587</p>
        <div class="watch-description-price">
          <div class="watch-description-price_now">&euro;1500</div>
          <p class="watch-description-price_before">&euro;3000</p>
        </div>
        <p class="watch-description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="watch-description-list">
          <li class="watch-description-item">Fused carbon fiber</li>
          <li class="watch-description-item">Grade-5 Titanuim</li>
          <li class="watch-description-item">Athlete</li>
          <li class="watch-description-item">Golfer</li>
          <li class="watch-description-item">Commander</li>
          <li class="watch-description-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
