:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
  color: #0c0c0c;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 75px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fbfbfb;
}

footer {
  padding-top: 75px;
}

section {
  padding-top: 75px;
}

@media screen and (min-width: 768px) {
  section {
    padding-top: 93px;
  }
  body {
    padding-top: 93px;
  }

  footer {
    padding-top: 93px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-top: 100px;
  }

  body {
    padding-top: 89px;
  }

  footer {
    padding-top: 100px;
  }
}
