:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
  color: #0c0c0c;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-style: normal;
}

section {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-bottom: 100px;
  }
}
