.footer {
    gap: 10px;
    border-radius: 30px;
    padding: 40px 28px 28px 28px;
    width: 335px;
    height: 581px;
    background-color: #0c0c0c;
}

.footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 92px;
    min-width: 279px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 4px;
    width: 90px;
    height: 19px;
}

.footer-nav-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    ;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 122px;
    height: 34px;
}

.footer-icons-soc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 34px;
    height: 34px;
}

.footer-icons-soc-link {
    width: 18px;
    height: 18px;
    opacity: 0.8;
    display: inline-block;
}

.footer-icons-soc-icon {
    fill: #fbfbfb;
}

.footer-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-top: 15px;
}

.tel {
    width: 152px;
    height: 44px;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.tel-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    text-decoration: none;
}

.footer-down {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 279px;
    height: 148px;
}

.footer-all {
    border-bottom: 1px solid rgba(251, 251, 251, 0.1);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.footer-menu-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 49px;
    width: 279px;
    height: 64px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    width: 147px;
    height: 64px;
    list-style: none;
    padding: 0;
}

.footer-menu-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
    color: #fbfbfb;
    display: inline-block;
}

.footer-address {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #fbfbfb;
    text-decoration: none;
}

.footer-down-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    width: 187px;
    height: 36px;
    margin-top: 20px;
}

.footer-down-menu-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    opacity: 0.9;
}

.footer-menu-two {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    width: 152px;
    height: 14px;
    list-style: none;
    margin: 0;
}

.footer-down-menu-text-two {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: right;
    color: rgba(251, 251, 251, 0.5);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 40px 40px 28px 40px;
        width: 704px;
        height: 540px;
    }

    .footer .container {
        gap: 100px;
        width: 624px;
        height: 472px;
    }

    .footer-nav-link {
        width: 624px;
        height: 262px;
    }

    .footer-nav {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 128px;
        height: 80px;
    }

    .footer-nav-logo {
        font-size: 20px;
    }

    .footer-icons {
        width: 128px;
        height: 36px;
    }

    .footer-icons-soc {
        width: 36px;
        height: 36px;
    }

    .footer-icons-soc-link {
        width: 20px;
        height: 20px;
    }

    .footer-text {
        font-size: 28px;
        line-height: 1.14286;
    }

    .tel {
        width: 160px;
        height: 48px;
    }

    .tel-link {
        font-size: 14px;
        line-height: 1.28571;
    }

    .footer-down {
        gap: 28px;
        width: 624px;
        height: 110px;
    }

    .footer-all {
        padding-bottom: 28px;
        margin-bottom: 28px;
    }

    .footer-menu-container {
        gap: 159px;
        width: 624px;
        height: 18px;
    }

    .footer-menu {
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 19px;
        width: 400px;
        height: 18px;
    }

    .footer-menu-item {
        font-size: 14px;
        line-height: 1.28571;
        text-align: center;
    }

    .footer-address {
        font-size: 14px;
        line-height: 1.28571;
    }

    .footer-down-menu-container {
        flex-direction: row;
        gap: 159px;
        width: 624px;
        height: 18px;
    }

    .footer-down-menu-text {
        font-size: 14px;
        line-height: 1.28571;
    }

    .footer-menu-two {
        width: 204px;
        height: 18px;
    }

    .footer-down-menu-text-two {
        font-size: 14px;
        line-height: 1.28571;
    }
}


@media screen and (min-width: 1158px) {
    .footer {
        flex-direction: column;
        padding: 40px 40px 28px 40px;
        width: 1216px;
        height: 400px;
    }

    .footer .container {
        gap: 126px;
        width: 1136px;
        height: 332px;
    }

    .footer-nav-logo {}

    .footer-nav {
        width: 112px;
        height: 24px;
    }

    .footer-nav-link {
        font-size: 20px;
    }

    .footer-icons {
        width: 128px;
        height: 36px;
    }

    .footer-icons-soc {
        width: 36px;
        height: 36px;
    }

    .footer-icons-soc-link {
        width: 20px;
        height: 20px;
    }

    .footer-text {
        font-size: 28px;
        line-height: 1.14286;
    }

    .tel {
        width: 160px;
        height: 48px;
    }

    .tel-link {
        font-size: 14px;
        line-height: 1.28571;
    }

    .footer-down {
        gap: 28px;
        width: 1136px;
        height: 110px;
    }

    .footer-all {
        stroke-width: 1px;
    }

    .footer-menu-container {
        gap: 469px;
        width: 1136px;
        height: 36px;
    }

    .footer-menu {
        flex-wrap: ;
        gap: 40px;
        width: 505px;
        height: 18px;
    }

    .footer-menu-item {
        font-size: 14px;
        line-height: 1.28571;
    }

    .footer-address {
        font-size: 14px;
        line-height: 1.28571;
    }

    .footer-down-menu-container {
        flex-direction: row;
        gap: 671px;
        width: 1136px;
        height: 18px;
    }

    .footer-down-menu-text {
        font-size: 14px;
        line-height: 1.28571;
    }

    .footer-menu-two {
        width: 204px;
        height: 18px;
    }

    .footer-down-menu-text-two {
        font-size: 14px;
        line-height: 1.28571;
    }
}