.footer .container {
  padding-bottom: 20px;
}

.footer-box {
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  display: flex;
  flex-direction: column;
  min-height: 581px;
}

.footer-box-up {
  margin-bottom: auto;
}

.footer-logo-icons-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-decoration: none;
  max-width: fit-content;
}

.footer-icons-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer-icons-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons-soc-icon {
  fill: #cbcbcb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover .footer-icons-soc-icon,
.footer-icons-link:active .footer-icons-soc-icon,
.footer-icons-link:focus .footer-icons-soc-icon {
  fill: #fbfbfb;
}

.footer-contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.tel {
  display: flex;
  align-items: center;
}

.tel-link {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #cbcbcb;
  padding: 14px;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:hover,
.tel-link:focus {
  color: #fbfbfb;
  border-color: #cbcbcb;
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.footer-menu-address-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 49px;
  margin-bottom: 24px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 16px;
  row-gap: 8px;
}

.footer-menu a,
.footer-legal-list a {
  display: block;
}

.footer-menu-link {
  font-size: 12px;
  line-height: 1.33;
  color: #cbcbcb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fbfbfb;
}

.footer-address {
  max-width: 83px;
}

.footer-address-link {
  font-size: 12px;
  line-height: 1.33;
  color: #cbcbcb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: #fbfbfb;
}

.footer-legal-list {
  border-top: 1px solid rgba(251, 251, 251, 0.1);
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 8px;
}

.footer-legal-text {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-legal-text:hover,
.footer-legal-text:focus {
  color: #cbcbcb;
}

.copyright {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding-bottom: 32px;
  }

  .footer-box {
    padding: 40px 40px 28px 40px;
    display: flex;
    flex-direction: column;
    min-height: 540px;
  }

  .footer-contact-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 86px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-icons-link {
    width: 36px;
    height: 36px;
  }

  .footer-icons-soc-icon {
    width: 20px;
    height: 20px;
  }

  .tel {
    width: 160px;
    height: 48px;
  }

  .tel-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-text {
    width: 524px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 1.14;
  }

  .footer-menu {
    gap: 19px;
  }

  .footer-menu-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-address {
    max-width: 162px;
  }

  .footer-address-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-menu-address-wrap {
    margin-bottom: 28px;
    gap: 62px;
  }

  .footer-legal-list {
    padding-top: 28px;
    gap: 20px;
  }

  .footer-legal-text {
    font-size: 14px;
    line-height: 1.28;
  }

  .copyright {
    flex-basis: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .footer .container {
    padding: 0 32px 32px 32px;
  }

  .footer-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
  }

  .footer-text {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-contact-wrap {
    margin-bottom: 0;
  }

  .footer-menu {
    gap: 40px;
  }
}
